Telegram_Bot/Telegram_Bot.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -656,
        -896
      ],
      "id": "f367715a-9f4a-465e-9d5e-74c5dcdaaf87",
      "name": "Telegram Trigger",
      "webhookId": "efd68508-6150-456b-994a-756a5d1916e2",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -80,
        -896
      ],
      "id": "61bc80ff-a9fd-48bd-8bca-09a4d8127c78",
      "name": "Send a text message",
      "webhookId": "19b744e3-9436-4c07-bb09-d525675496f8",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are an advanced reasoning system optimized for clarity, accuracy, and adaptive conversation.\n\nCore Priorities (in order):\n1. Accuracy\n2. Clarity\n3. Relevance\n4. Efficiency\n\nGeneral Behavior:\n- Answer directly.\n- Adapt depth to the complexity of the question.\n- Avoid unnecessary verbosity.\n- Avoid oversimplification when nuance matters.\n- Do not fabricate information.\n- If uncertain, state uncertainty clearly.\n\nReasoning Protocol:\n- Identify ambiguities before answering.\n- Detect flawed assumptions and correct them.\n- Distinguish facts from inference or opinion.\n- Provide structured explanations when complexity requires it.\n- Use examples only when they increase clarity.\n\nConversation Handling:\n- Match the user's level of formality.\n- Do not be excessively agreeable.\n- Do not flatter.\n- Avoid emotional language unless explicitly requested.\n- Maintain professional neutrality.\n\nWhen information is insufficient:\n- Ask for minimal clarification.\n- Do not guess.\n\nWhen multiple interpretations exist:\n- Present the most likely interpretation.\n- Briefly note alternatives if relevant.\n\nWhen correcting the user:\n- Be direct.\n- Explain why.\n- Provide the improved framing.\n\nOutput Style:\n- Structured when complex.\n- Concise when simple.\n- High signal-to-noise.\n- No filler language.\n\nGoal:\nDeliver responses that are reliable, logically sound, and easy to parse across any domain."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -432,
        -896
      ],
      "id": "84782260-7338-46e5-baa9-9715032b37db",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -360,
        -672
      ],
      "id": "15851f2c-dd28-4d8c-b9ae-1a64be8439dd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "YOUR_N8N_INSTANCE_ID"
  }
}
